<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<nav class="navBar Override">
    <div class="hamburgerMenu Override">
        <div id="asideBarActivator" class="Override">
            <div class="Override"></div>
            <div class="Override"></div>
            <div class="Override"></div>
        </div>
    </div>
    <img src="../../../img/other/navBar/CompanyLogo.png" alt="CompanyLogo" id="Logo" class="Override" />
    <aside class="links-container Override">
        <a href="#" class="Override">Home</a>
        <a href="" id="category" class="Override"><span class="Override">Category</span><img src="../../../icon/other/navBar/arrowHead.png" class="Override" /></a>
        <a href="" class="Override">Services</a>
        <a href="" class="Override">contact us</a>
        <a href="" class="Override">About us</a>
        <a href="" id="SignUpButton" class="Override">Sign Up</a>
    </aside>
    <a href="" id="SignInButton" class="Override">Sign In</a>
</nav>
<main class="Override"></main>
<footer class="Override"></footer>


    <script type="module" src="./js/index.js"></script>
</body>
</html>