@import url("/shared/css/navBar/navBarStyle.css");
@import url("/shared/css/limitedDescription/style.css");

* {
  --glass-bg: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.3)
  );
  --glossy-bg: #b3d6e64f;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  text-shadow: black 0px 0px 1px;
}
body > svg {
  transform: rotate(180deg);
  position: absolute;
}
body main {
  display: grid;
  position: relative;
  padding: 2cqb;
  top: 9vh;
  grid-gap: 2cqb;
  grid-template-columns: 1fr 1fr;
  text-shadow: black 0px 0px 1.4px;
}
main header.PdfThumbnail {
  grid-column: 1/2;
  grid-row: 1/2;
}
textarea{
  /* cols="60" rows="10" */
  width: 10rem;
  height: 10rem;
}
main header.PdfThumbnail > div {
  background-color: var(--glass-bg);
  backdrop-filter: blur(4vh);
  border-radius: 20px;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-gap: 2cqb;
  padding: 2cqb;
}
main header.PdfThumbnail input{
  display: none;
}
main header.PdfThumbnail h4{
  background-color: rgba(0, 255, 234, 0.445);
  padding: 1cqb 2cqb;
  border-radius: 20px;
  font-weight: 100;
  text-transform: capitalize;
  font-size: 0.7cqi;
  max-width: 20cqb;
  overflow: hidden;
}

main header.PdfThumbnail button{
  background-color: #3bbada;
  padding: 1.2cqb 7cqb;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}


main header.About {
  grid-column: 2/3;
  grid-row: 1/2;
  position: relative;
}

main header.PdfThumbnail > div img {
  max-width: 20cqb;
  max-height: 20cqb;
}
main header.About > div {
  background-color: var(--glossy-bg);
  border-radius: 20px;
  padding: 2cqb;
  height: 100%;
  display: grid;
  grid-gap: 1.2cqb;
}
main header.About input{
    font-size: 0.7cqi;
}
main header.About h2{
    font-size: 1cqi;
}

main input,textarea,main select{
  padding: 0.5cqb 4cqb;
  display: block;
  border: none;
  border-radius: 20px;
  font-size: medium;
  background-color: #50d6e7;
  font-weight: 500;
  max-width: 50%;
  min-width: 50%;
}
.categorySelectionContainer{
  display: grid;
  grid-gap: 2cqb;
}
@media screen and (max-width: 950px) {
  body main {
    display: grid;
    position: relative;
    padding: 2cqb;
    top: 9vh;
    grid-gap: 2cqb;
    grid-template-columns: 1fr;
    text-shadow: black 0px 0px 1.4px;
  }
  main header.PdfThumbnail {
    grid-column: 1/2;
    grid-row: 1/2;
    grid-gap: 7cqb;
  }
  main header.About {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  main header.PdfThumbnail h4{
    font-size: 2cqi;
  }
  main header.Comments {
    grid-column: 1/2;
  }
  main header.About input{
    font-size: 2cqi;
  }
  main header.About h2{
      font-size: 4cqi;
  }
  main header.About  #Title{
    font-size: 5cqi;
  }
  main textarea{
    min-width: 100%;
  }
  main input,textarea,main select{
    max-width: 100%;
  }
}