<link rel="stylesheet" href="./css/style.css">

<div class="categorySelectionContainer Override">
    <select name="mainCategorySelector" class="mainCategorySelector Override">
        <option value="null" class="Override">Select The Main Category</option>
    </select>
    <select name="subCategorySelector" class="subCategorySelector Override">
        <option value="null" class="Override">Select The Sub Category</option>
    </select>
</div>

<script src="./js/index.js" type="module"></script>

