<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

    <form action="">
    <table>
        <tr>
            <td><h2>Purpose</h2></td>
            <td><h2>Element View</h2></td>
        </tr>
        <tr>
            <td><h4>Use As Button</h4></td>
            <td><input type="button" value="button"></td>
        </tr>
        <tr>
            <td><h4>Use to get comments and descriptions</h4></td>
            <td><textarea name="" id="" cols="30" rows="10"></textarea></td>
        </tr>
        <tr>
            <td><h4>Use to get file input</h4></td>
            <td><input type="file" name="" id=""></td>
        </tr>
        <tr>
            <td><h4>Can use as like button or rating (checkbox)</td>
            <td><input type="checkbox" name="checkBoxs" id=""></td>
        </tr>
        <tr>
            <td><h4>Cau use as like button or rating (radio)</h4></td>
            <td><input type="radio" name="radioButton" id=""></td>
        </tr>
        <tr>
            <td><h4>Use to get date as the input</h4></td>
            <td><input type="date" name="" id=""></td>
        </tr>
        <tr>
            <td><h4>Use to get time as the input</h4></td>
            <td><input type="time" name="" id=""></td>
        </tr>
        <tr>
            <td><h4>Use to get color as the input</h4></td>
            <td><input type="color" name="" id=""></td>
        </tr>
        <tr>
            <td><h4>Use to get email as the input</h4></td>
            <td><input type="email" name="" id=""></td>
        </tr>
        <tr>
            <td><h4>Use to get Url as the input <br>(can use to get social media account)</h4></td>
            <td><input type="url" name="" id=""></td>
        </tr>
        <tr>
            <td><h4>Use to get numbers</h4></td>
            <td><input type="number" name="" id=""></td>
        </tr>
        <tr>
            <td><h4>Use to get number by setting a limit</h4></td>
            <!-- The input field can only get number upto 5 -->
            <td><input type="number" name="" id=""  min="0" max="5"></td>
        </tr>
        <tr>
            <td><h4>Use to get a range of numbers</h4></td>
            <td><input type="range" min="0" max="5" step="1"></td>
        </tr>
        <tr>
            <td><h4>Use to get a range by datalist</h4></td>
            <td><input type="range" step="1" list="markers"></td>
        </tr>
        <tr>
            <td><h4>Use to get a telephone number</h4></td>
            <td><input type="tel" name="" id=""></td>
        </tr>
        <tr>
            <td><h4>Use to create a search bar</h4></td>
            <td><input type="search" name="" id="" placeholder="Search"></td>
        </tr>
        <tr>
            <td><h4>Create the submit button</h4></td>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
    
  <!-- this datalist use for the range as a reference -->
<datalist id="markers">
    <option value="0" ></option>
    <option value="25"></option>
    <option value="50"></option>
    <option value="75"></option>
    <option value="100"></option>
  </datalist>
  
    
    
</form>
</body>
</html>