<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <select name="" id="">
        <option value="0">Select Rating </option>
        <option value="1"><h4>⭐☆☆☆☆</h4></option>
        <option value="2"><h4>⭐⭐☆☆☆</h4></option>
        <option value="3"><h4>⭐⭐⭐☆☆</h4></option>
        <option value="4"><h4>⭐⭐⭐⭐☆</h4></option>
        <option value="5"><h4>⭐⭐⭐⭐⭐</h4></option>
    </select>
    <script src="./js/index.js" type="module"></script>
</body>
</html>