body .Cardcontainer {
    display: grid;
    grid-gap: 2cqb;
    grid-auto-flow: column;
}

body .Cardcontainer .item {
    background-color: red;
    display: grid;
    justify-items: center;
    grid-gap: 1cqb;
    padding: 1cqb;
    border-radius: 20px;
    background: url("../img/card_image.jpg");
    font-size: 10cqb;
    font-weight: 700;
    background-repeat: no-repeat;
    background-size: cover;
}

body .Cardcontainer .item img {
    max-width: 40cqb;
    border: 10px;
    border-color: red;
}

body .Cardcontainer .item .h1 {
    font-weight: 900;
    font-size: 30cqb;
}