<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/shared/css/footer/footer.css">
    <title>Document</title>
</head>
<body>
    
</body>
<footer class="footer"> 
    <div class="container">
     <div class="row">
       <div class="footer-col">
         <h4>Website</h4>
         <ul>
           <li><a href="#">Explore</a></li>
           <li><a href="#">About Us</a></li>
           <li><a href="#">Services</a></li>
           <li><a href="#">Help</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>Operations</h4>
         <ul>
           <li><a href="#">Create Account</a></li>
           <li><a href="#">User Login</a></li>
           <li><a href="#">Category Requests</a></li>
           <li><a href="#">Report a Problem</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>Quick Links</h4>
         <ul>
           <li><a href="#">User Profile</a></li>
           <li><a href="#">Publish</a></li>
           <li><a href="#">Your Posts</a></li>
           <li><a href="#">Instructions </a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>Get Connected</h4>
         <div class="social-links">
            <a href="#"><i class="fab fa-email"><img src="../../../icon/other/footer/icons8-email-67.png" height="40cqh" width="40cqh"></i></a>
            <a href="#"><i class="fab fa-github"><img src="../../../icon/other/footer/icons8-github-64.png"height="40cqh" width="40cqh"></i></a>
            <a href="#"><i class="fab fa-facebook-f"><img src="../../../icon/other/footer/icons8-facebook-50.png" height="40cqh" width="40cqh"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"><img src="../../../icon/other/footer/icons8-linked-in-50.png" height="40cqh" width="40cqh"></i></a>
            <div>
                <br><p id="bbv">#BinaryBuilderVorteX</p>
                <p id="bbv">#TeamEffort @ 2023</p>
            </div>
         </div>
       </div>
     </div>
    </div>
 </footer>
</html>
