<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <nav class="navBar Override">
        <div class="hamburgerMenu Override">
            <div id="asideBarActivator" class="Override">
                <div class="Override"></div>
                <div class="Override"></div>
                <div class="Override"></div>
            </div>
        </div>
        <img src="/shared/img/navBar/CompanyLogo.png" alt="CompanyLogo" id="Logo" class="Override" />
        <aside class="links-container Override">
            <a href="#" class="Override">Home</a>
            <a href="" id="category" class="Override"><span class="Override">Category</span><img src="/shared/icon/navBar/arrowHead.png" class="Override" /></a>
            <a href="" class="Override">Services</a>
            <a href="" class="Override">contact us</a>
            <a href="" class="Override">About us</a>
            <a href="" id="SignUpButton" class="Override">Sign Up</a>
        </aside>
        <a href="" id="SignInButton" class="Override">Sign In</a>
    </nav>
    <main class="Override">
        <section class="carosal Override">
            <img src="/shared/icon/carousel/leftArrow.png" id="leftArrow" class="carosalArrows Override">
            <div class="carosalContainer Override">
                <div class="cards Override">
                    <img src="./img/carousel/cardimage.jpeg" class="Override" />
                    <h1 class="Override">heading1</h1>
                    <div class="description Override">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus architecto sequi atque perferendis, tenetur, exercitationem ducimus vitae veniam fugiat numquam sint earum accusamus quis illo nam, asperiores et? Architecto, iste.</div>
                    <button class="Override">Click</button>
                </div>
                <div class="cards Override">
                    <img src="./img/carousel/cardimage.jpeg" class="Override" />
                    <h1 class="Override">heading2</h1>
                    <div class="description Override">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus architecto sequi atque perferendis, tenetur, exercitationem ducimus vitae veniam fugiat numquam sint earum accusamus quis illo nam, asperiores et? Architecto, iste.</div>
                    <button class="Override">Click</button>
                </div>
                <div class="cards Override">
                    <img src="./img/carousel/cardimage.jpeg" class="Override" />
                    <h1 class="Override">heading4</h1>
                    <div class="description Override">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus architecto sequi atque perferendis, tenetur, exercitationem ducimus vitae veniam fugiat numquam sint earum accusamus quis illo nam, asperiores et? Architecto, iste.</div>
                    <button class="Override">Click</button>
                </div>
                <div class="cards Override">
                    <img src="./img/carousel/cardimage.jpeg" class="Override" />
                    <h1 class="Override">heading5</h1>
                    <div class="description Override">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus architecto sequi atque perferendis, tenetur, exercitationem ducimus vitae veniam fugiat numquam sint earum accusamus quis illo nam, asperiores et? Architecto, iste.</div>
                    <button class="Override">Click</button>
                </div>
                <div class="cards Override">
                    <img src="./img/carousel/cardimage.jpeg" class="Override" />
                    <h1 class="Override">heading6</h1>
                    <div class="description Override">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus architecto sequi atque perferendis, tenetur, exercitationem ducimus vitae veniam fugiat numquam sint earum accusamus quis illo nam, asperiores et? Architecto, iste.</div>
                    <button class="Override">Click</button>
                </div>
                <div class="cards Override">
                    <img src="./img/carousel/cardimage.jpeg" class="Override" />
                    <h1 class="Override">heading7</h1>
                    <div class="description Override">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus architecto sequi atque perferendis, tenetur, exercitationem ducimus vitae veniam fugiat numquam sint earum accusamus quis illo nam, asperiores et? Architecto, iste.</div>
                    <button class="Override">Click</button>
                </div>
                <div class="cards Override">
                    <img src="./img/carousel/cardimage.jpeg" class="Override" />
                    <h1 class="Override">heading8</h1>
                    <div class="description Override">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus architecto sequi atque perferendis, tenetur, exercitationem ducimus vitae veniam fugiat numquam sint earum accusamus quis illo nam, asperiores et? Architecto, iste.</div>
                    <button class="Override">Click</button>
                </div>
                <div class="cards Override">
                    <img src="./img/carousel/cardimage.jpeg" class="Override" />
                    <h1 class="Override">heading9</h1>
                    <div class="description Override">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus architecto sequi atque perferendis, tenetur, exercitationem ducimus vitae veniam fugiat numquam sint earum accusamus quis illo nam, asperiores et? Architecto, iste.</div>
                    <button class="Override">Click</button>
                </div>
            </div>
            <img src="/shared/icon/carousel/rightArrow.png" id="rightArrow" class="carosalArrows Override">
        </section>
    </main>
    <footer class="Override"></footer>
    

    <script type="module" src="./js/index.js"></script>
</body>
</html>