@import url("../../../../css/other/navBar/navBarStyle.css");

body main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body main .topBar{
    display: grid;
    grid-auto-flow: column;
    padding: 2cqb;
    min-width: 50vw;
    background-color: #af91fa;
    border-radius: 1.5cqw;
}

body main .topBar img{
    padding: 1cqb;
    width: 10cqw;
    height: 20cqh;
}

body main .mainContent img{
    padding: 5cqb;
    width: 20cqw;
    height: 28cqh;    
}

body main .mainContent table{
    width: 100vw;
}
body main .mainContent table tr td textarea{
    resize: none;
    width: min-content;
    border-radius: 20px;
    padding: 1cqb;
}
body main .mainContent table tr td{
    padding: 1.5cqb;
}
body main .mainContent table tr td:nth-of-type(1){
    background-color: #f2f0f7;
    text-align: center;
    border-radius: 1.5cqw;
}
body main .mainContent table tr td:nth-of-type(2){
    background-color: #dedfe0;
    border-radius: 1.5cqw;
}

.commentBox{
    background-color: gray;
    padding: 4cqb;
    border-radius: 2cqw;

    display: grid;
    grid-template-columns: max-content 1fr;

    grid-gap: 2.7cqb;
    overflow: scroll;
    max-height: 70vh;
    max-width: 50vw;
}

.comment{
    background-color: #333;
    color: white;
    padding: 2cqw;
    border-radius: 0cqw 5cqw 5cqw 5cqw;
}


body main .mainContent .button{
        /* remove default link underline */
        text-decoration: none;
        display: block;
    
        margin: 0.1cqw;
        padding: 1cqw 2cqw;
    
        background-color: blue;
    
        /* set max width of the button is to its maximum content width */
        max-width: max-content;
    
        /* set the font color */
        color: white;
        font-weight: 700;
    
        border-radius: 20px;
}
body main .mainContent .download:hover{
    background-color: purple;
}

body main .mainContent .Description{
    padding: 2cqb;
    width: max-content;

    display: grid;
    grid-gap: 1.5cqb;
}

body main .mainContent div .update{
    text-align: right;
}
