<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
   <textarea name="" id="" cols="30" rows="10"></textarea> 
   <br>
   <input type="button" value="button">
   <br>
   <input type="file" name="" id="">
   <br>
   <label for="checkBoxs">CheckBox</label>
   <input type="checkbox" name="checkBoxs" id="">
   <br>
   <label for="radioButton">Radio Button</label>
   <input type="radio" name="radioButton" id="">
    <br>
    <input type="date" name="" id="">
    <br>
    <input type="time" name="" id="">
    <br>
    <input type="color" name="" id="">
    <br>
    <label>Email input box</label>
    <input type="email" name="" id="">
    <br>
    <label>Url input box</label>
    <input type="url" name="" id="">
    <br>
    <label>Input a Number</label>
    <input type="number" name="" id="">
    <br>
    <label>Enter telephone number</label>
    <input type="tel" name="" id="">
    <br>
    <label>Search box</label>
    <input type="search" name="" id="">
    <button type="submit"></button>
</form>
</body>
</html>