<link rel="stylesheet" href="./css/style.css">

<!--copy start-->
<div class="socialMediaContainer Override">
    <div class="accountAddingContainer Override">
        <select name="socialMediaAccountType" class="socialMediaAccountType Override" id="Override">
            <option value="0" class="Override" AccountName="null">Choose Account Type</option>
            <option value="1" class="Override" AccountName="github">GitHub</option>
            <option value="2" class="Override" AccountName="facebook">FaceBook</option>
            <option value="4" class="Override" AccountName="instagram">Instagram</option>
            <option value="5" class="Override" AccountName="twitter">Twitter</option>
            <option value="6" class="Override" AccountName="linkedin">LinkedIn</option>
            <option value="7" class="Override" AccountName="whatsapp">Whatsapp</option>
        </select>
        <input type="url" name="socialMediaAccountUrl" placeholder="Add the url here" class="Override" required>
        <button class="Override">Add</button>
    </div>
    <div class="addedAccountContainer Override">
    </div>
</div>

<!--copy end-->

<script src="./js/index.js" type="module"></script>