<link rel="stylesheet" href="./css/style.css">
<div class="socialMediaContainer">
    <div class="accountAddingContainer">
        <select name="socialMediaAccountType" class="socialMediaAccountType" id="">
            <option value="null">Choose Account Type</option>
            <option value="github">GitHub</option>
            <option value="facebook">FaceBook</option>
            <option value="instergram">Instergram</option>
            <option value="twitter">Twitter</option>
            <option value="linkedin">LinkedIn</option>
            <option value="whatsapp">Whatsapp</option>
        </select>
        <input type="url" name="socialMediaAccountUrl" placeholder="Add the url here">
        <button>Add</button>
    </div>
    <div class="addedAccountContainer">
    </div>
</div>
<script src="./js/index.js" type="module"></script>

<!-- structure of the element -->
<!-- <div class="account">
    <h4>github</h4>
    <input type="url" name="github" readonly value="https://www.google.com">
    <button>Delete</button>
</div> -->