@import url("../root/default.css");


.textareaContainer .limitedtextarea{
    resize: none;
}
.textareaContainer .errorMessage{
    border: solid 1px red;
    padding: 0.7cqb;
    border-radius: 20px;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: max-content;
    display: none;
    transition: all 2000ms ease;
}